
extends layout

block content
  div.navbar.navbar-fixed-top
    div.navbar-inner
      div.container-fluid
        ul#global-nav.nav.pull-left
          a(href='#').brand Flower Shop
        - if(udata) {
        button#btn-logout.btn.btn-primary
          i.icon-lock.icon-white
          | Logout
        - } else {
        button#btn-login-bar.btn.btn-primary
          i.icon-lock.icon-white
          | Login
        - }

  #container
    .form-container
      form.form-horizontal.well.span6
        fieldset
          label For general account info (name, password...) visit your <a href="/account">account page</a>.
    .form-container
      form(method="post", action="update-phone")#account-form.form-horizontal.well.span6
        fieldset
          p#sub1.subheading Additional Info
          #phone-cg.control-group
            label.control-label(for='phone-tf') Phone number
            .controls
              input#phone-tf.input-xlarge(type='text', name='phone')
          .form-actions
                  button(type='submit')#account-form-btn2.btn Submit
    .form-container
      form.form-horizontal.well.span6
        fieldset
          p#sub1.subheading Registered Stores
          ul
            each store in stores
              li '#{store.name}' at #{store.latLong.lat},#{store.latLong.lng} with remote ESL #{store.ESL} and local ESL '{{thissiteurl}}/storeESL/#{store.callbackESLID}'
      form(method="post", action="add-store")#account-form.form-horizontal.well.span6
        fieldset
          p#sub1.subheading Add new store
          #name-cg.control-group
            label.control-label(for='name-tf') Name
            .controls
              input#name-tf.input-xlarge(type='text', name='name')
          #lat-cg.control-group
            label.control-label(for='lat-tf') Lat
            .controls
              input#lat-tf.input-xlarge(type='text', name='lat')
          #longitude-cg.control-group
            label.control-label(for='longitude-tf') Long
            .controls
              input#longitude-tf.input-xlarge(type='text', name='longitude')
          #esl-cg.control-group
            label.control-label(for='esl-tf') Store ESL
            .controls
              input#esl-tf.input-xlarge(type='text', name='esl')
          .form-actions
                  button(type='submit')#account-form-btn2.btn Submit


  include modals/alert
  include modals/confirm
